.App {
  text-align: center;
  height: 100vh;
  background: #757575;
  overflow: hidden;
}

.header {
  display: flex;
  background: #455a64;
  width: 100%;
  color: white;
  flex-direction: row;
}

.header h1 {
  margin: 0;
  width: 25%;
  padding: 0.5em;
}

.header > div {
  width: 20%;
  margin-top: 1.5em;
}

.header > div span {
  margin-left: 1em;
}

#container h2 {
  color: white;
  margin-right: 2em;
  display: inline-block;
}

#container-header {
  display: block;
  width: 40%;
  margin-left: 30%;
  margin: 3em 0 3em 30%;
}

#container .MuiFormControl-root label,
#container .MuiFormControl-root div {
  color: white !important;
}

.MuiInput-underline::before {
  border-bottom-color: white !important;
}

#period {
  width: 6em;
}

.MuiTextField-root,
.MuiFormControl-root {
  flex-direction: row !important;
}

.MuiInput-formControl {
  height: 2em !important;
}

#chart-container {
  width: 100%;
  padding-left: calc(50% - 600px);
}
